
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayOut.cshtml";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Đăng nhập hệ thống</p>

        <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
                <input type="text" id="username_login" class="form-control" placeholder="UserName">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="password_login" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="button" id="btnLogin" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

     
        <!-- /.social-auth-links -->

        <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
<script>
    $(document).ready(function () {

        $("#btnLogin").click(function () {
            Login();
        })
    });

    function Login() {
        var user = $("#username_login").val();
        var password = $("#password_login").val();
        // Validate data login
        if (user == '' || user == null) {
            alert("username không được trống");
            return;
        }
        if (password == '' || password == null) {
            alert("password không được trống");
            return;
        }

        var inputdata = {
            userName: user,
            password: password
        };

        //Utils.Loading();
        $.ajax({
            type: 'POST',
            url: "/Account/Authen",
            data: inputdata,
            success: function (data) {
                // Utils.UnLoading();
                var responseCode = data.responseCode;
                var Description = data.Description;
                if (responseCode > 0) {
                    // ProductCtrl.showPopup(Description, 1);
                    // nếu đăng nhập thành công
                    window.location.href = "/Home/Index";
                } else {

                    //ProductCtrl.showPopup(Description, 0);
                    alert(Description);
                }

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });

    }
</script>
